<!-- ADD Bill -->
<div>
    <ng-template [ngIf]="data.product" [ngIfElse]="addHeader">
      <h1 mat-dialog-title>Update Product</h1>
    </ng-template>
    <ng-template #addHeader>
      <h1 mat-dialog-title>Add Product</h1>
    </ng-template>
  
    <div mat-dialog-content fxLayout="column" fxFlexFill fxLayoutGap="16px">
      <div fxFlex="grow" fxLayout="row" fxFlexFill fxLayoutGap="16px">
        <mat-form-field appearance="outline" fxFlex="20" fxFlex.xs="grow">
          <mat-label>Invoice Number</mat-label>
          <input type="number" min="0" matInput [(ngModel)]="newBills.invoiceNumber" />
        </mat-form-field>
  
        <mat-form-field appearance="outline" fxFlex="grow" fxFlex.xs="grow">
          <mat-label>Billing Party Name</mat-label>
          <input matInput [(ngModel)]="newBills.billingpartyName" />
        </mat-form-field>
      </div>
  
      <div fxFlex="grow" fxLayout="row" fxFlexFill fxLayoutGap="16px">
        <mat-form-field appearance="outline" fxFlex="33" fxFlex.xs="grow">
          <mat-label>Bill Amount</mat-label>
          <input type="number" min="0" matInput [(ngModel)]="newProduct.billAmount" />
        </mat-form-field>
  
        <mat-form-field appearance="outline" fxFlex="33" fxFlex.xs="grow">
          <mat-label>Delivery Date</mat-label>
          <input type="number" min="0" matInput [(ngModel)]="newProduct.deliveryDate" />
        </mat-form-field>
      </div>
    </div>
  
    <div mat-dialog-actions>
      <ng-template #addButton>
        <button mat-raised-button (click)="add()">Add</button>
      </ng-template>
      <button mat-raised-button (click)="cancel()">Cancel</button>
    </div>
  </div>
  