<!-- ADD PRODUCT -->
<div>
  <ng-template [ngIf]="data.product" [ngIfElse]="addHeader">
    <h1 mat-dialog-title>Update Product</h1>
  </ng-template>
  <ng-template #addHeader>
    <h1 mat-dialog-title>Add Product</h1>
  </ng-template>

  <div mat-dialog-content fxLayout="column" fxFlexFill fxLayoutGap="16px">
    <div fxFlex="grow" fxLayout="row" fxFlexFill fxLayoutGap="10px">
      <mat-form-field appearance="outline" fxFlex="20" fxFlex.xs="grow">
        <mat-label>Code</mat-label>
        <input type="number" min="0" matInput [(ngModel)]="newProduct.code" />
      </mat-form-field>

      <mat-form-field appearance="outline" fxFlex="grow" fxFlex.xs="grow">
        <mat-label>Name</mat-label>
        <input matInput [(ngModel)]="newProduct.name" />
      </mat-form-field>
    </div>

    <div fxFlex="grow" fxLayout="row" fxFlexFill fxLayoutGap="10px">
      <mat-form-field appearance="outline" fxFlex="33" fxFlex.xs="grow">
        <mat-label>Company</mat-label>
        <input matInput [(ngModel)]="newProduct.company" [matAutocomplete]="companyAuto" (ngModelChange)="doFilter('company')" />
        <mat-autocomplete #companyAuto="matAutocomplete">
          <mat-option *ngFor="let company of companyDropdown" [value]="company">
            {{ company }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <mat-form-field appearance="outline" fxFlex="33" fxFlex.xs="grow">
        <mat-label>Category</mat-label>
        <input matInput [(ngModel)]="newProduct.category" [matAutocomplete]="categoryAuto" (ngModelChange)="doFilter('category')" />
        <mat-autocomplete #categoryAuto="matAutocomplete">
          <mat-option *ngFor="let category of categoryDropdown" [value]="category">
            {{ category }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <mat-form-field appearance="outline" fxFlex="grow" fxFlex.xs="grow">
        <mat-label>Sub Category</mat-label>
        <input matInput [(ngModel)]="newProduct.subcategory" />
      </mat-form-field>
    </div>

    <div fxFlex="grow" fxLayout="row" fxFlexFill fxLayoutGap="10px">
      <mat-form-field appearance="outline" fxFlex="33" fxFlex.xs="grow">
        <mat-label>MRP</mat-label>
        <input type="number" min="0" matInput [(ngModel)]="newProduct.mrp" />
      </mat-form-field>

      <mat-form-field appearance="outline" fxFlex="33" fxFlex.xs="grow">
        <mat-label>Price</mat-label>
        <input type="number" min="0" matInput [(ngModel)]="newProduct.price" />
      </mat-form-field>

      <mat-form-field appearance="outline" fxFlex="33" fxFlex.xs="grow">
        <mat-label>Quantity</mat-label>
        <input type="number" min="0" matInput [(ngModel)]="newProduct.qty" />
      </mat-form-field>
    </div>

    <div fxFlex="grow" fxLayout="row" fxFlexFill fxLayoutGap="10px">
      <mat-form-field appearance="outline" fxFlex="grow" fxFlex.xs="grow">
        <mat-label>Description</mat-label>
        <input type="textField" matInput [(ngModel)]="newProduct.description" />
      </mat-form-field>
    </div>
  </div>

  <div mat-dialog-actions>
    <ng-template [ngIf]="data.product" [ngIfElse]="addButton">
      <button mat-raised-button (click)="update()">Update</button>
    </ng-template>
    <ng-template #addButton>
      <button mat-raised-button (click)="add()">Add</button>
    </ng-template>
    <button mat-raised-button (click)="cancel()">Cancel</button>
  </div>
</div>
